.search-bar{
    margin: 20px;
    text-align: center;
}

.search-bar input{
    width: 85%;
    border-radius: 5px;
}

.video-item img{
    max-width: 64px;
}

.video-detail .details{
    margin-top:10px;
    /*padding: 10px;*/
    border: 1px solid #ddd;
    border-radius: 10px;
}

.list-group-items{
    cursor: pointer;
}

.list-group-items::hover{
    background-color: #abc;
}

